body{
    padding: 2% 10% ;
    height:90vh;
    width: auto;
    background-image: url(../css/images/Screen\ Shot\ 2020-07-16\ at\ 11.16.09\ PM.jpeg);
    background-size: cover;
}

#table-id{
    color: white;
}

#high{
    font-family: cursive;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

#low{
    font-family: cursive;
    color: rgb(255, 255, 255);
    font-size: 25px;
}

#forecast{
    font-family: cursive;
    color: white;
    font-size: 25px;
}

#humidity{
    font-family: cursive;
    color:white;
    font-size: 25px;
}

div{
    padding: 10px;
}

form input{
    display: block;
    width: 25%;
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    margin-bottom: 25px;
}

form label{
    font-size: 75%;
    font-weight: 600;
}

#submitButton{
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: rgb(28, 28, 153);
}

